.container {
  /* background-color: aqua; */
  width: 100%;
  height: 775px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.panel {
  width: 1250px;
  height: 700px;
  display: flex;
  /* background-color: rgb(237, 180, 180); */
}

.left-panel {
  width: 20%;
  height: 100%;
  background-color: #334f71;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}


.admin-text {
  font-size: 24px;
  font-weight: bold;
  color: #e7e7e7;
  text-align: center;
  margin-top: 32.5px;
}

.button-control {
  width: 100%;
  height: 50px;
  /* background-color: red; */
  /* border: 2px solid black; */
  padding: 20px 75px;
  cursor: pointer;
}

.button-control:hover  {
  color: #fff;
  transform: scale(1.1);
}

.route-container {
  display: flex;
  flex-direction: column;
}

.right-panel {
  width: 80%;
  height: 100%;
  background-color: #ededed;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  /* border: 2px solid black; */
}

.report-header {
  width: 86%;
  height: 70px;
  padding: 0 70px;
  border-bottom: 1px solid #e2dfdf;
  /* background-color: rebeccapurple; */
  /* border-top-right-radius: 15px; */
}

.header-text {
  font-size: 28px;
  font-weight: bold;
  color: #444;
}

.report-stat-container {
  width: 100%;
  height: 100px;
  /* background-color: saddlebrown; */
  display: flex;
  justify-content: space-around;
  align-items: center ;
}

.stat-box {
  width: 136px;
  height: 72px;
  background-color: #D9D9D9;
  border-radius: 10px;
  
}

.report-type {
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: #0B0B0B;
}

.report-amount {
  text-align: center;
  font-size: 20px;
  color: #F32F2F; 
}

.table {
  width: 95%;
  margin-top: 20px;
  margin-left: 35px ;
  background-color: #F6F6F6;
  border-radius: 15px;
  border: none;
}

.row:nth-child(even) {
  background-color: #9C9C9C;
  color: #F2F2F2;

}

td {
  padding: 15px 15px;
  font-size: 15px;
  font-weight: 400;
}

.view-table-header {
  font-size: 15px;
  color: #2DB03A;
  font-weight: bold;
}

.ban-table-header {
  font-size: 15px;
  color: #CD2222;
  font-weight: bold;
}