.add_pin_modal {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99999;

  background-color: rgba(0, 0, 0, 0.5);
}

.add_pin_container {
  padding: 35px;
  width: 880px;
  height: 574px;
  border-radius: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;

  display: flex;

  background-color: white;
}

.side {
  padding: 20px;
  width: 50%;
  height: 100%;
}

#left_side {
  /* background-color: blue; */
}

#right_side {
  /* background-color: orange; */
}

.pint_mock_icon_container {
  width: 32px;
  height: 32px;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;

  background-color: #f0f0f0;
  cursor: pointer;
}

.pint_mock_icon {
  width: 50%;
}

.section1 {
  width: 100%;
  height: 8%;

  /* background-color: purple; */
}

.section2 {
  padding: 0px 10px;
  width: 100%;
  height: 80%;

  display: flex;
  flex-direction: column;
  overflow: hidden;
  /* background-color: aquamarine; */
}

.section3 {
  width: 100%;
  height: 12%;

  display: flex;
  justify-content: center;
  align-items: center;

  /* background-color: firebrick; */
}

#left_side .section2 {
  justify-content: center;
  align-items: center;
}
.modals_pin {
  height: 100%;
  border-radius: 16px;
  position: relative;
  overflow: hidden;
  margin-top: 20%;
  margin-left: -6%;
}

#right_side .section1 {
  display: flex;
  justify-content: flex-end;
}

#right_side .section1 .select_size {
  width: 236px;
  height: 40px;

  display: flex;
}

#right_side .section1 .select_size select {
  width: 70%;
  height: 100%;
  border: none;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  outline: none;

  font-size: 16px;

  background-color: #efefef;
}

#right_side .section1 .select_size .save_image {
  width: 100%;
  height: 100%;
  border-radius: 8px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 16px;
  font-weight: 700;

  color: white;
  background-color: #fc7300;
  cursor: pointer;
}

#right_side .section2 {
  display: flex;
  justify-content: flex-start;
  /* background-color: red; */
}
#right_side .section2 .title_image {
  padding-left: 0;
}
#right_side .section2 .account {
  display: inline-flex;
  align-items: "center";
  margin-bottom: 20px;
}

.comment {
  height: auto;
  overflow-y: hidden;
  padding-top: 5px;
}

#right_side .section3 .new_comment {
  margin-bottom: 20px;
  width: 100%;
  height: 50px;
  border: none;
  border-bottom: 2px solid #c6c6c6;
  outline: none;

  font-size: 16px;

  background-color: transparent;
}

.pin-comment-container {
  /* background-color: red; */
  overflow-y: auto;
}

#left_side .section1 {
  display: flex;
  justify-content: flex-start;
}

#left_side .section1 .select_size {
  width: 236px;
  height: 40px;

  display: flex;
}

#left_side .section1 .select_size .exit {
  border-radius: 8px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 35px;
  font-weight: 700;
  cursor: pointer;
}


/* modal for edit profile */

body.active-modal {
  overflow-y: auto;
  z-index: 10;
}

.btn-modal {
  padding: 10px 20px;
  display: block;
  margin: 100px auto 0;
  font-size: 18px;
  z-index: 10;
}

.modal,
.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 10;
}

.overlay {
  background: rgba(49, 49, 49, 0.8);
  z-index: 10;
}

.modal-content {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #f1f1f1;
  padding: 14px 28px;
  border-radius: 3px;
  max-width: 600px;
  min-width: 300px;
  z-index: 10;
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 7px;
  z-index: 10;
}

.edit-post{
  width: 50%;
  height: 88%;
  background-color: #e60023;
  border-radius: 8px;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-right: 10px;
}

.edit{
  border-radius: 8px;
  font-size: 16px;
  font-weight: 700;

  color: white;
  cursor: pointer;
  
}