.nav-out-container {
  background-color: #fff;
}
.navContainer {
  width: 100%;
  height: 77px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  transform: scale(0.9);
}

.navBtn {
  width: 97px;
  height: 35px;
  background-color: #fc7300;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding-right: 20px;
}

.nav {
  margin-left: 55px;
}

.nav:first-child {
  margin-left: 0;
}

.createBtn {
  background-color: #fff;
}

.homeTxt {
  color: #fff;
}

.searchBox {
  width: 902px;
  height: 44px;
  background: #f0f0f0;
  border: #fff;
  border-radius: 100px;
}

.navBellIcon {
  width: 38px;
  height: 36px;
  cursor: pointer;
}

.navChatIcon {
  width: 38px;
  height: 36px;
  cursor: pointer;
}
